.card_wrapper_col {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sticky {
  position: sticky;
  background: white;
  top: 0;
  z-index: 99;
}
